* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: white;
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    background: #111827;
}

header .logo {
    font-weight: bold;
    font-size: 20px;
}

nav a {
    margin-left: 20px;
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

nav a:hover {
    color: #38bdf8;
}

.hero {
    text-align: center;
    padding: 80px 20px;
}

.hero img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.hero h1 {
    font-size: 40px;
}

.hero h2 {
    color: #38bdf8;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    background: #38bdf8;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

section {
    padding: 60px 10%;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.skill {
    background: #1e293b;
    padding: 15px;
    border-radius: 8px;
}

.project-card {
    background: #1e293b;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
}

.contact-icons a {
    margin-right: 20px;
    font-size: 25px;
    color: white;
}

footer {
    text-align: center;
    padding: 20px;
    background: #111827;
}
